# flyctl launch added from .gitignore
**/.rebar3
**/_build
**/_checkouts
**/_vendor
**/.eunit
**/*.o
**/*.beam
**/*.plt
**/*.swp
**/*.swo
**/.erlang.cookie
**/ebin
**/log
**/erl_crash.dump
**/.rebar
**/logs
**/.idea
**/*.iml
**/rebar3.crashdump
**/*~
**/.local_testing

# flyctl launch added from _build/default/lib/cowboy/.gitignore
_build/default/lib/cowboy/**/.cowboy.plt
_build/default/lib/cowboy/**/.erlang.mk
_build/default/lib/cowboy/**/_rel
_build/default/lib/cowboy/**/cowboy.d
_build/default/lib/cowboy/**/deps
_build/default/lib/cowboy/**/doc/guide.pdf
_build/default/lib/cowboy/**/doc/html
_build/default/lib/cowboy/**/doc/man3
_build/default/lib/cowboy/**/doc/man7
_build/default/lib/cowboy/**/ebin/*.beam
_build/default/lib/cowboy/**/ebin/test
_build/default/lib/cowboy/**/examples/*/ebin
_build/default/lib/cowboy/**/examples/*/*.d
_build/default/lib/cowboy/**/logs
_build/default/lib/cowboy/**/relx
_build/default/lib/cowboy/**/test/*.beam

# flyctl launch added from _build/default/lib/cowlib/.gitignore
_build/default/lib/cowlib/**/.cowlib.plt
_build/default/lib/cowlib/**/.erlang.mk
_build/default/lib/cowlib/**/_rel
_build/default/lib/cowlib/**/cowlib.d
_build/default/lib/cowlib/**/deps
_build/default/lib/cowlib/**/doc/man3
_build/default/lib/cowlib/**/doc/man7
_build/default/lib/cowlib/**/doc/markdown
_build/default/lib/cowlib/**/ebin/*.beam
_build/default/lib/cowlib/**/ebin/test
_build/default/lib/cowlib/**/examples/*/ebin
_build/default/lib/cowlib/**/logs
_build/default/lib/cowlib/**/relx
_build/default/lib/cowlib/**/test/*.beam

# flyctl launch added from _build/default/lib/jiffy/.gitignore
_build/default/lib/jiffy/**/.eunit
_build/default/lib/jiffy/**/.rebar
_build/default/lib/jiffy/**/.tool-versions
_build/default/lib/jiffy/**/.jiffy.dev
_build/default/lib/jiffy/**/.jiffy-compile-check
_build/default/lib/jiffy/**/*.app
_build/default/lib/jiffy/**/*.beam
_build/default/lib/jiffy/**/*.d
_build/default/lib/jiffy/**/*.o
_build/default/lib/jiffy/**/*.so
_build/default/lib/jiffy/**/_build
_build/default/lib/jiffy/**/compile_commands.json
_build/default/lib/jiffy/**/deps
_build/default/lib/jiffy/**/erln8.config
_build/default/lib/jiffy/**/hexer.config
_build/default/lib/jiffy/**/rebar.lock
_build/default/lib/jiffy/**/TEST-*.xml

# flyctl launch added from _build/default/lib/ranch/.gitignore
_build/default/lib/ranch/**/.erlang.mk
_build/default/lib/ranch/**/.ranch.plt
_build/default/lib/ranch/**/*.d
_build/default/lib/ranch/**/deps
_build/default/lib/ranch/**/doc/guide.pdf
_build/default/lib/ranch/**/doc/html
_build/default/lib/ranch/**/doc/man3
_build/default/lib/ranch/**/doc/man7
_build/default/lib/ranch/**/ebin/test
_build/default/lib/ranch/**/ebin/*.beam
_build/default/lib/ranch/**/examples/*/ebin
_build/default/lib/ranch/**/examples/*/*.d
_build/default/lib/ranch/**/examples/*/_rel
_build/default/lib/ranch/**/logs
_build/default/lib/ranch/**/test/*.beam

# flyctl launch added from node-red-frontend/.gitignore

fly.toml
