{erl_opts, [
    debug_info,
    verbose
]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.13.0"}}},
    {erlydtl, "0.14.0"}
]}.

{relx, [
    {release, {fly_er, {git, short}}, [erlang_red, sasl, erlydtl]},

    {dev_mode, false},
    {include_erts, true},
    {include_src, false},
    {overlay, [
        {copy, "priv/*", "priv/"}
    ]}
]}.

{project_plugins, [erlfmt, rebar3_auto]}.
{auto, [
    {extra_dirs, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "src/{http,nodes,servers,exchanges}/*.{hrl,erl,app.src}",
        "test/{helpers}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]}
]}.

{erlfmt, [
    check,
    verbose,
    {print_width, 80},
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "src/{http,nodes,servers,exchanges}/*.{hrl,erl,app.src}",
        "test/{helpers}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]},
    {exclude_files, ["src/erlfmt_parse.erl"]}
]}.

{escript_incl_apps, [erlang_red]}.
{escript_main_app, erlang_red}.
{escript_name, erlang_red}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            fail_on_warning,
            verbose,
            {extra_src_dirs, ["test/helpers"]}
        ]}
    ]}
]}.
