%% -*- erlang -*-
{erl_opts, [
    debug_info,
    verbose
]}.

{deps, [
    {erlang_red_helpers,
        {git, "https://github.com/gorenje/erlang-red-elixir-helpers",
            {tag, "0.1.2"}}},
    {erlang_red_jsonata,
        {git, "https://github.com/gorenje/erlang-red-jsonata",
            {tag, "0.1.0"}}},
    {erlydtl, "0.14.0"},
    {bbmustache, "1.12.2"},
    {erlexec, "2.2.0"},
    {cowlib, "2.14.0"},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.13.0"}}},
    {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.14.4"}}},
    {mapz, {git, "https://github.com/eproxus/mapz", {tag, "v2.4.0"}}}
]}.

{dialyzer, [
    {plt_extra_apps, [
        inets,
        sasl,
        mapz,
        erlexec,
        erlydtl,
        cowboy,
        emqtt,
        bbmustache,
        cowlib
    ]}
]}.

{relx, [
    {release, {erlang_red, git}, [
        erlang_red,
        erlang_red_helpers,
        erlang_red_jsonata,
        inets,
        sasl,
        mapz,
        erlexec,
        erlydtl,
        cowboy,
        emqtt,
        bbmustache,
        cowlib,
        %% apps that come from erlang_red_helpers but need including
        elixir,
        nimble_csv,
        earmark,
        logger,
        eex
    ]},

    {dev_mode, false},
    {include_erts, true},
    {include_src, false},
    {overlay, [
        {copy, "priv/*", "priv/"}
    ]}
]}.

{plugins, [exerl]}.
{project_plugins, [erlfmt, rebar3_auto]}.
{auto, [
    {extra_dirs, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "src/{routes,nodes,servers,exchanges}/*.{hrl,erl,app.src}",
        "src/{jsonata,managers}/*.{hrl,erl,app.src}",
        "test/{helpers}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]}
]}.

{erlfmt, [
    check,
    verbose,
    {print_width, 80},
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "src/{routes,nodes,servers,exchanges}/*.{hrl,erl,app.src}",
        "src/{jsonata,managers}/*.{hrl,erl,app.src}",
        "test/{helpers}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]},
    {exclude_files, [
        "src/erlfmt_parse.erl",
        "src/jsonata_leex.erl",
        "src/jsonata_parser.erl"
    ]}
]}.

{escript_incl_apps, [erlang_red]}.
{escript_main_app, erlang_red}.
{escript_name, erlang_red}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            fail_on_warning,
            verbose,
            {extra_src_dirs, ["test/helpers"]}
        ]}
    ]}
]}.
