{erl_opts, [
    debug_info,
    verbose
]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.13.0"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.2"}}}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [
    check,
    verbose,
    {print_width, 80},
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "src/{http,nodes,server}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]},
    {exclude_files, ["src/erlfmt_parse.erl"]}
]}.

{escript_incl_apps, [erlang_red]}.
{escript_main_app, erlang_red}.
{escript_name, erlang_red}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            fail_on_warning,
            verbose,
            {extra_src_dirs, ["test/helpers"]}
        ]}
    ]}
]}.
